flows/afl_ArticleFeedbackFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Data_From_Article</name>
        <label>Get Data From Article</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <actionName>afl__afl_ArticleFeedbackFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Article_Feedback</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>kavId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_ArticleFeedbackFlowAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Checks that the component is inside a Knowledge record page. If it&apos;s not, throws message &quot;Please make sure the component is placed in the appropriate Record Page.&quot;</description>
        <name>Check_component_is_inside_a_Knowledge_record_page</name>
        <label>Check component is inside a Knowledge record page</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Inappropriate_Record_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Isn&apos;t Knowledge Record</defaultConnectorLabel>
        <rules>
            <name>Is_Knowledge_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ka</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Article_Feedback_Screen</targetReference>
            </connector>
            <label>Is Knowledge Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>validation</name>
        <label>validation</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Data_From_Article</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>reason_but_no_details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Description_Input_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Article_Feedback_Screen</targetReference>
            </connector>
            <label>reason but no details error</label>
        </rules>
    </decisions>
    <description>without Vote component</description>
    <dynamicChoiceSets>
        <name>FeedbackReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>afl__Unlike_Reason__c</picklistField>
        <picklistObject>afl__afl_Article_Feedback__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>afl_ArticleFeedbackFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Article Feedback Flow</label>
    <loops>
        <name>For_each_File_Id</name>
        <label>For each File Id</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <collectionReference>FileAttachedToFeedback.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_Feedback_To_File</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the Article Feedback record.</description>
        <name>Create_Article_Feedback</name>
        <label>Create Article Feedback</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>For_each_File_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Data_From_Article.afName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Article_Created_Date__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleCreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Article_Link__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Article_Number__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Article_Title__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Article_Version__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Community_Name__c</field>
            <value>
                <elementReference>Get_Data_From_Article.communityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Feedback_Reason__c</field>
            <value>
                <elementReference>General_reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Feedback_Source__c</field>
            <value>
                <elementReference>Get_Data_From_Article.feedbackSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Feedback_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Feedback_Vote_Description__c</field>
            <value>
                <elementReference>Description_Input_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Knowledge_Article_Version_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Knowledge_kav_article_Id__c</field>
            <value>
                <elementReference>Get_Data_From_Article.kaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Language__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Last_Published_Date__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleLastPublishedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>afl__Record_Type__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <object>afl__afl_Article_Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Link_Feedback_To_File</name>
        <label>Link Feedback To File</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>For_each_File_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>For_each_File_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Create_Article_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Article_Feedback_Screen</name>
        <label>Article Feedback Screen</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>validation</targetReference>
        </connector>
        <fields>
            <name>General_reason</name>
            <choiceReferences>FeedbackReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a general reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description_Input_Field</name>
            <fieldText>{!$Label.afl__Description}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>validation_error_text</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(218, 12, 12);&quot;&gt;Please provide details for your feedback.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>reason_but_no_details</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileAttachedToFeedback</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.png, .jpg, .jpeg, .zip, .doc, .docx, .pdf, .xlsx, .xls</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Toast</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(186, 0, 0); font-size: 16px;&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Feedback could not be created&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inappropriate_Record_Page</name>
        <label>Inappropriate Record Page</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Inappropriate_record_page_message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.afl__No_information_title}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Label.afl__Appropriate_record_page_message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>226</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessToast</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(28, 163, 0); font-size: 16px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.afl__Feedback_saved_toast}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>afl__afl_ArticleFeedbackFlow</sourceTemplate>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_component_is_inside_a_Knowledge_record_page</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Feedback</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>afl__afl_Article_Feedback__c</objectType>
    </variables>
    <variables>
        <description>Stores the Id of the Knowledge record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedVote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
